{% for field in form %}
    <div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
            {{ field.label_tag }} 
            
            {{ field }}
            
            {% if field.help_text %}
                <span class="help_text"> {{ field.help_text }} </span>
            {% endif %}
            
            {% if field.errors %}
                {% for error in field.errors %} 
                    <span class="field_error">{{ error }}</span>
                {% endfor %}
            {% endif %}
            
        </fieldset>
    </div>
{% endfor %}
